{% extends "base.html" %}



{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Обновление статьи</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите назввание"><br>
            <textarea name="intro" id="intro" class="container form-control"  placeholder="Введите анонс">{{ article.intro }}</textarea>
            <textarea name="text" id="text" class="container form-control"  placeholder="Введите текст">{{ article.text }}</textarea>
            <input type="submit" class="btn btn-success" value="Обновить"><br>
        </form>
    </div>
{% endblock %}

l>